# Experiment 12
## Data Series and Data Frames using Pandas
### a) Program to create and index (loc, iloc), and iterate over pandas DataFrame

In [39]:
import pandas as pd

# create a DataFrame
df = pd.DataFrame([
        ["East South Central", "Alabama", 2570.0, 864.0, 4887681],
        ["Pacific","Alaska",1434.0,582.0,735139],
        ["Mountain","Arizona",7259.0,2606.0,7158024],
        ["West South Central","Arkansas",2280.0,432.0,3009733],
        ["Pacific","California",109008.0,20964.0,39461588],
        ["Mountain","Colorado",7607.0,3250.0,5691287],
        ["New England","Connecticut",2280.0,1696.0,3571520],
        ["South Atlantic","Delaware",708.0,374.0,965479],
        ["South Atlantic","District of Columbia",3770.0,3134.0,701547],
        ["South Atlantic","Florida",21443.0,9587.0,21244317],
        ["South Atlantic","Georgia",6943.0,2556.0,10511131]
    ],
    columns = ["region","state","individuals","family_members","state_pop"]
)

print(df)

                region                 state  individuals  family_members  \
0   East South Central               Alabama       2570.0           864.0
1              Pacific                Alaska       1434.0           582.0
2             Mountain               Arizona       7259.0          2606.0
3   West South Central              Arkansas       2280.0           432.0
4              Pacific            California     109008.0         20964.0
5             Mountain              Colorado       7607.0          3250.0
6          New England           Connecticut       2280.0          1696.0
7       South Atlantic              Delaware        708.0           374.0
8       South Atlantic  District of Columbia       3770.0          3134.0
9       South Atlantic               Florida      21443.0          9587.0
10      South Atlantic               Georgia       6943.0          2556.0

    state_pop
0     4887681
1      735139
2     7158024
3     3009733
4    39461588
5     5691287
6     3571520
7      965479
8      701547
9    21244317
10   10511131

In [40]:
# indexing
print(df[2:5])

               region       state  individuals  family_members  state_pop
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [41]:
print(df[:4])

               region     state  individuals  family_members  state_pop
0  East South Central   Alabama       2570.0           864.0    4887681
1             Pacific    Alaska       1434.0           582.0     735139
2            Mountain   Arizona       7259.0          2606.0    7158024
3  West South Central  Arkansas       2280.0           432.0    3009733

In [42]:
print(df[7:])

            region                 state  individuals  family_members  \
7   South Atlantic              Delaware        708.0           374.0
8   South Atlantic  District of Columbia       3770.0          3134.0
9   South Atlantic               Florida      21443.0          9587.0
10  South Atlantic               Georgia       6943.0          2556.0

    state_pop
7      965479
8      701547
9    21244317
10   10511131

In [43]:
print(df[-3:-1])

           region                 state  individuals  family_members  \
8  South Atlantic  District of Columbia       3770.0          3134.0
9  South Atlantic               Florida      21443.0          9587.0

   state_pop
8     701547
9   21244317

In [44]:
# loc
idx_region_df = df.set_index('region')
print(idx_region_df.loc["Pacific"])

              state  individuals  family_members  state_pop
region
Pacific      Alaska       1434.0           582.0     735139
Pacific  California     109008.0         20964.0   39461588

In [45]:
print(idx_region_df.loc[["Mountain", "South Atlantic"]])

                               state  individuals  family_members  state_pop
region
Mountain                     Arizona       7259.0          2606.0    7158024
Mountain                    Colorado       7607.0          3250.0    5691287
South Atlantic              Delaware        708.0           374.0     965479
South Atlantic  District of Columbia       3770.0          3134.0     701547
South Atlantic               Florida      21443.0          9587.0   21244317
South Atlantic               Georgia       6943.0          2556.0   10511131

In [46]:
# retrieve specific columns
print(idx_region_df.loc[["Mountain", "South Atlantic"], ["state", "state_pop"]])

                               state  state_pop
region
Mountain                     Arizona    7158024
Mountain                    Colorado    5691287
South Atlantic              Delaware     965479
South Atlantic  District of Columbia     701547
South Atlantic               Florida   21244317
South Atlantic               Georgia   10511131

In [47]:
# retreive all rows with specific columns
print(idx_region_df.loc[:, ["state", "state_pop"]])
print("\n\nWithout indexing...")
print(df.loc[:, ["region", "state", "state_pop"]])

                                   state  state_pop
region
East South Central               Alabama    4887681
Pacific                           Alaska     735139
Mountain                         Arizona    7158024
West South Central              Arkansas    3009733
Pacific                       California   39461588
Mountain                        Colorado    5691287
New England                  Connecticut    3571520
South Atlantic                  Delaware     965479
South Atlantic      District of Columbia     701547
South Atlantic                   Florida   21244317
South Atlantic                   Georgia   10511131


Without indexing...
                region                 state  state_pop
0   East South Central               Alabama    4887681
1              Pacific                Alaska     735139
2             Mountain               Arizona    7158024
3   West South Central              Arkansas    3009733
4              Pacific            California   39461588
5             Mountain              Colorado    5691287
6          New England           Connecticut    3571520
7       South Atlantic              Delaware     965479
8       South Atlantic  District of Columbia     701547
9       South Atlantic               Florida   21244317
10      South Atlantic               Georgia   10511131

In [48]:
# iloc
print(df.iloc[3])

region            West South Central
state                       Arkansas
individuals                   2280.0
family_members                 432.0
state_pop                    3009733
Name: 3, dtype: object

In [49]:
print(df.iloc[[3, 4, 8]])

               region                 state  individuals  family_members  \
3  West South Central              Arkansas       2280.0           432.0
4             Pacific            California     109008.0         20964.0
8      South Atlantic  District of Columbia       3770.0          3134.0

   state_pop
3    3009733
4   39461588
8     701547

In [50]:
# selecting specific columns
print(idx_region_df.iloc[[3, 4, 8], [0, 3]])
print("\n\nWithout indexing...")
print(df.iloc[[3, 4, 8], [0, 1, 4]])

                                   state  state_pop
region
West South Central              Arkansas    3009733
Pacific                       California   39461588
South Atlantic      District of Columbia     701547


Without indexing...
               region                 state  state_pop
3  West South Central              Arkansas    3009733
4             Pacific            California   39461588
8      South Atlantic  District of Columbia     701547

In [51]:
print(idx_region_df.iloc[:, [0, 3]])

                                   state  state_pop
region
East South Central               Alabama    4887681
Pacific                           Alaska     735139
Mountain                         Arizona    7158024
West South Central              Arkansas    3009733
Pacific                       California   39461588
Mountain                        Colorado    5691287
New England                  Connecticut    3571520
South Atlantic                  Delaware     965479
South Atlantic      District of Columbia     701547
South Atlantic                   Florida   21244317
South Atlantic                   Georgia   10511131

### b) Program to group and aggregate pandas DataFrame

In [52]:
import pandas as pd

# read a csv file into dataframe
homeless_df = pd.read_csv("data/homelessness.csv", index_col=0)
print(homeless_df.head())
print(homeless_df.tail())

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588
                region          state  individuals  family_members  state_pop
46      South Atlantic       Virginia       3928.0          2047.0    8501286
47             Pacific     Washington      16424.0          5880.0    7523869
48      South Atlantic  West Virginia       1021.0           222.0    1804291
49  East North Central      Wisconsin       2740.0          2167.0    5807406
50            Mountain        Wyoming        434.0           205.0     577601

In [53]:
homeless_idx_region_df = homeless_df.set_index('region')
print(homeless_idx_region_df)

                                   state  individuals  family_members  \
region
East South Central               Alabama       2570.0           864.0
Pacific                           Alaska       1434.0           582.0
Mountain                         Arizona       7259.0          2606.0
West South Central              Arkansas       2280.0           432.0
Pacific                       California     109008.0         20964.0
Mountain                        Colorado       7607.0          3250.0
New England                  Connecticut       2280.0          1696.0
South Atlantic                  Delaware        708.0           374.0
South Atlantic      District of Columbia       3770.0          3134.0
South Atlantic                   Florida      21443.0          9587.0
South Atlantic                   Georgia       6943.0          2556.0
Pacific                           Hawaii       4131.0          2399.0
Mountain                           Idaho       1297.0           715.0
East North Central              Illinois       6752.0          3891.0
East North Central               Indiana       3776.0          1482.0
West North Central                  Iowa       1711.0          1038.0
West North Central                Kansas       1443.0           773.0
East South Central              Kentucky       2735.0           953.0
West South Central             Louisiana       2540.0           519.0
New England                        Maine       1450.0          1066.0
South Atlantic                  Maryland       4914.0          2230.0
New England                Massachusetts       6811.0         13257.0
East North Central              Michigan       5209.0          3142.0
West North Central             Minnesota       3993.0          3250.0
East South Central           Mississippi       1024.0           328.0
West North Central              Missouri       3776.0          2107.0
Mountain                         Montana        983.0           422.0
West North Central              Nebraska       1745.0           676.0
Mountain                          Nevada       7058.0           486.0
New England                New Hampshire        835.0           615.0
Mid-Atlantic                  New Jersey       6048.0          3350.0
Mountain                      New Mexico       1949.0           602.0
Mid-Atlantic                    New York      39827.0         52070.0
South Atlantic            North Carolina       6451.0          2817.0
West North Central          North Dakota        467.0            75.0
East North Central                  Ohio       6929.0          3320.0
West South Central              Oklahoma       2823.0          1048.0
Pacific                           Oregon      11139.0          3337.0
Mid-Atlantic                Pennsylvania       8163.0          5349.0
New England                 Rhode Island        747.0           354.0
South Atlantic            South Carolina       3082.0           851.0
West North Central          South Dakota        836.0           323.0
East South Central             Tennessee       6139.0          1744.0
West South Central                 Texas      19199.0          6111.0
Mountain                            Utah       1904.0           972.0
New England                      Vermont        780.0           511.0
South Atlantic                  Virginia       3928.0          2047.0
Pacific                       Washington      16424.0          5880.0
South Atlantic             West Virginia       1021.0           222.0
East North Central             Wisconsin       2740.0          2167.0
Mountain                         Wyoming        434.0           205.0

                    state_pop
region
East South Central    4887681
Pacific                735139
Mountain              7158024
West South Central    3009733
Pacific              39461588
Mountain              5691287
New England           3571520
South Atlantic         965479
South Atlantic         701547
South Atlantic       21244317
South Atlantic       10511131
Pacific               1420593
Mountain              1750536
East North Central   12723071
East North Central    6695497
West North Central    3148618
West North Central    2911359
East South Central    4461153
West South Central    4659690
New England           1339057
South Atlantic        6035802
New England           6882635
East North Central    9984072
West North Central    5606249
East South Central    2981020
West North Central    6121623
Mountain              1060665
West North Central    1925614
Mountain              3027341
New England           1353465
Mid-Atlantic          8886025
Mountain              2092741
Mid-Atlantic         19530351
South Atlantic       10381615
West North Central     758080
East North Central   11676341
West South Central    3940235
Pacific               4181886
Mid-Atlantic         12800922
New England           1058287
South Atlantic        5084156
West North Central     878698
East South Central    6771631
West South Central   28628666
Mountain              3153550
New England            624358
South Atlantic        8501286
Pacific               7523869
South Atlantic        1804291
East North Central    5807406
Mountain               577601

In [54]:
print(homeless_df.describe())

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

In [55]:
# aggregation

# sum
print(homeless_df.sum())

region            East South CentralPacificMountainWest South Ce...
state             AlabamaAlaskaArizonaArkansasCaliforniaColorado...
individuals                                                368515.0
family_members                                             178749.0
state_pop                                                 326687501
dtype: object

In [56]:
# ignore non-numeric columns using iloc
print(homeless_df.iloc[:,2:].sum())

individuals          368515.0
family_members       178749.0
state_pop         326687501.0
dtype: float64

In [57]:
# mean
print(homeless_df.iloc[:,2:].mean())

individuals       7.225784e+03
family_members    3.504882e+03
state_pop         6.405637e+06
dtype: float64

In [58]:
# agg
print(homeless_df.iloc[:,2:].agg(['min', 'max', 'mean', 'std', 'count']))

         individuals  family_members     state_pop
min       434.000000       75.000000  5.776010e+05
max    109008.000000    52070.000000  3.946159e+07
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
count      51.000000       51.000000  5.100000e+01

In [59]:

print(homeless_df.iloc[:,2:].agg(['min', 'max', 'mean', 'std', 'count']))

All states from Pacific region
              state  individuals  family_members  state_pop
region
Pacific      Alaska       1434.0           582.0     735139
Pacific  California     109008.0         20964.0   39461588
Pacific      Hawaii       4131.0          2399.0    1420593
Pacific      Oregon      11139.0          3337.0    4181886
Pacific  Washington      16424.0          5880.0    7523869


First entries of states for all regions
                          state  individuals  family_members  state_pop
region
East North Central     Illinois       6752.0          3891.0   12723071
East South Central      Alabama       2570.0           864.0    4887681
Mid-Atlantic         New Jersey       6048.0          3350.0    8886025
Mountain                Arizona       7259.0          2606.0    7158024
New England         Connecticut       2280.0          1696.0    3571520
Pacific                  Alaska       1434.0           582.0     735139
South Atlantic         Delaware        708.0           374.0     965479
West North Central         Iowa       1711.0          1038.0    3148618
West South Central     Arkansas       2280.0           432.0    3009733

In [60]:
print("All states from Pacific region")
print(homeless_df.set_index('region').loc['Pacific'])

print("Last entries of states for all regions")
print(group_region.last())

All states from Pacific region
              state  individuals  family_members  state_pop
region
Pacific      Alaska       1434.0           582.0     735139
Pacific  California     109008.0         20964.0   39461588
Pacific      Hawaii       4131.0          2399.0    1420593
Pacific      Oregon      11139.0          3337.0    4181886
Pacific  Washington      16424.0          5880.0    7523869
Last entries of states for all regions
                            state  individuals  family_members  state_pop
region
East North Central      Wisconsin       2740.0          2167.0    5807406
East South Central      Tennessee       6139.0          1744.0    6771631
Mid-Atlantic         Pennsylvania       8163.0          5349.0   12800922
Mountain                  Wyoming        434.0           205.0     577601
New England               Vermont        780.0           511.0     624358
Pacific                Washington      16424.0          5880.0    7523869
South Atlantic      West Virginia       1021.0           222.0    1804291
West North Central   South Dakota        836.0           323.0     878698
West South Central          Texas      19199.0          6111.0   28628666

In [61]:
print(group_region[['individuals', 'state_pop']].sum())

                    individuals  state_pop
region
East North Central      25406.0   46886387
East South Central      12468.0   19101485
Mid-Atlantic            54038.0   41217298
Mountain                28491.0   24511745
New England             12903.0   14829322
Pacific                142136.0   53323075
South Atlantic          52260.0   65229624
West North Central      13971.0   21350241
West South Central      26842.0   40238324

In [62]:
print(group_region['state_pop'].sum())

region
East North Central    46886387
East South Central    19101485
Mid-Atlantic          41217298
Mountain              24511745
New England           14829322
Pacific               53323075
South Atlantic        65229624
West North Central    21350241
West South Central    40238324
Name: state_pop, dtype: int64

In [63]:
print(homeless_idx_region_df.loc['Mountain'])

print("\n\nTotal state population of Mountain region:")
print(homeless_idx_region_df.loc['Mountain']['state_pop'].sum())

               state  individuals  family_members  state_pop
region
Mountain     Arizona       7259.0          2606.0    7158024
Mountain    Colorado       7607.0          3250.0    5691287
Mountain       Idaho       1297.0           715.0    1750536
Mountain     Montana        983.0           422.0    1060665
Mountain      Nevada       7058.0           486.0    3027341
Mountain  New Mexico       1949.0           602.0    2092741
Mountain        Utah       1904.0           972.0    3153550
Mountain     Wyoming        434.0           205.0     577601


Total state population of Mountain region:
24511745

In [64]:
# group by multiple columns
df_grp_1 = homeless_df.groupby(by=['region', 'state']).sum()
print(df_grp_1)

                                         individuals  family_members  \
region             state
East North Central Illinois                   6752.0          3891.0
                   Indiana                    3776.0          1482.0
                   Michigan                   5209.0          3142.0
                   Ohio                       6929.0          3320.0
                   Wisconsin                  2740.0          2167.0
East South Central Alabama                    2570.0           864.0
                   Kentucky                   2735.0           953.0
                   Mississippi                1024.0           328.0
                   Tennessee                  6139.0          1744.0
Mid-Atlantic       New Jersey                 6048.0          3350.0
                   New York                  39827.0         52070.0
                   Pennsylvania               8163.0          5349.0
Mountain           Arizona                    7259.0          2606.0
                   Colorado                   7607.0          3250.0
                   Idaho                      1297.0           715.0
                   Montana                     983.0           422.0
                   Nevada                     7058.0           486.0
                   New Mexico                 1949.0           602.0
                   Utah                       1904.0           972.0
                   Wyoming                     434.0           205.0
New England        Connecticut                2280.0          1696.0
                   Maine                      1450.0          1066.0
                   Massachusetts              6811.0         13257.0
                   New Hampshire               835.0           615.0
                   Rhode Island                747.0           354.0
                   Vermont                     780.0           511.0
Pacific            Alaska                     1434.0           582.0
                   California               109008.0         20964.0
                   Hawaii                     4131.0          2399.0
                   Oregon                    11139.0          3337.0
                   Washington                16424.0          5880.0
South Atlantic     Delaware                    708.0           374.0
                   District of Columbia       3770.0          3134.0
                   Florida                   21443.0          9587.0
                   Georgia                    6943.0          2556.0
                   Maryland                   4914.0          2230.0
                   North Carolina             6451.0          2817.0
                   South Carolina             3082.0           851.0
                   Virginia                   3928.0          2047.0
                   West Virginia              1021.0           222.0
West North Central Iowa                       1711.0          1038.0
                   Kansas                     1443.0           773.0
                   Minnesota                  3993.0          3250.0
                   Missouri                   3776.0          2107.0
                   Nebraska                   1745.0           676.0
                   North Dakota                467.0            75.0
                   South Dakota                836.0           323.0
West South Central Arkansas                   2280.0           432.0
                   Louisiana                  2540.0           519.0
                   Oklahoma                   2823.0          1048.0
                   Texas                     19199.0          6111.0

                                         state_pop
region             state
East North Central Illinois               12723071
                   Indiana                 6695497
                   Michigan                9984072
                   Ohio                   11676341
                   Wisconsin               5807406
East South Central Alabama                 4887681
                   Kentucky                4461153
                   Mississippi             2981020
                   Tennessee               6771631
Mid-Atlantic       New Jersey              8886025
                   New York               19530351
                   Pennsylvania           12800922
Mountain           Arizona                 7158024
                   Colorado                5691287
                   Idaho                   1750536
                   Montana                 1060665
                   Nevada                  3027341
                   New Mexico              2092741
                   Utah                    3153550
                   Wyoming                  577601
New England        Connecticut             3571520
                   Maine                   1339057
                   Massachusetts           6882635
                   New Hampshire           1353465
                   Rhode Island            1058287
                   Vermont                  624358
Pacific            Alaska                   735139
                   California             39461588
                   Hawaii                  1420593
                   Oregon                  4181886
                   Washington              7523869
South Atlantic     Delaware                 965479
                   District of Columbia     701547
                   Florida                21244317
                   Georgia                10511131
                   Maryland                6035802
                   North Carolina         10381615
                   South Carolina          5084156
                   Virginia                8501286
                   West Virginia           1804291
West North Central Iowa                    3148618
                   Kansas                  2911359
                   Minnesota               5606249
                   Missouri                6121623
                   Nebraska                1925614
                   North Dakota             758080
                   South Dakota             878698
West South Central Arkansas                3009733
                   Louisiana               4659690
                   Oklahoma                3940235
                   Texas                  28628666

### c) Program to merge pandas DataFrames

In [65]:
import pandas as pd

# df1 will include our imaginary user list with names, emails, and IDs.
df1 = pd.DataFrame({'user_id': ['id001', 'id002', 'id003', 'id004', 'id005', 'id006', 'id007'],
                    'first_name': ['Rivi', 'Wynnie', 'Kristos', 'Madalyn', 'Tobe', 'Regan', 'Kristin'],
                    'last_name': ['Valti', 'McMurty', 'Ivanets', 'Max', 'Riddich', 'Huyghe', 'Illis'],
                    'email': ['rvalti0@example.com', 'wmcmurty1@example.com', 'kivanets2@example.com',
                              'mmax3@example.com', 'triddich4@example.com', 'rhuyghe@example.com',
                              'killis4@example.com']
                    })

# df2 will include image URLs and user IDs
df2 = pd.DataFrame({'user_id': ['id001', 'id002', 'id003', 'id004', 'id005', 'id008'],
                    'image_url': ['http://example.com/img/id001.png', 'http://example.com/img/id002.jpg',
                                  'http://example.com/img/id003.bmp', 'http://example.com/img/id004.jpg',
                                  'http://example.com/img/id005.png', 'http://example.com/img/id008.jpg']
                    })

print("df1:\n", df1)
print("\n\ndf2:\n", df2)

df1:
   user_id first_name last_name                  email
0   id001       Rivi     Valti    rvalti0@example.com
1   id002     Wynnie   McMurty  wmcmurty1@example.com
2   id003    Kristos   Ivanets  kivanets2@example.com
3   id004    Madalyn       Max      mmax3@example.com
4   id005       Tobe   Riddich  triddich4@example.com
5   id006      Regan    Huyghe    rhuyghe@example.com
6   id007    Kristin     Illis    killis4@example.com


df2:
   user_id                         image_url
0   id001  http://example.com/img/id001.png
1   id002  http://example.com/img/id002.jpg
2   id003  http://example.com/img/id003.bmp
3   id004  http://example.com/img/id004.jpg
4   id005  http://example.com/img/id005.png
5   id008  http://example.com/img/id008.jpg

In [66]:
# merge function

# default merge is inner join; hence only 5 records are present
df3_merged = pd.merge(df1, df2)
print(df3_merged)

  user_id first_name last_name                  email  \
0   id001       Rivi     Valti    rvalti0@example.com
1   id002     Wynnie   McMurty  wmcmurty1@example.com
2   id003    Kristos   Ivanets  kivanets2@example.com
3   id004    Madalyn       Max      mmax3@example.com
4   id005       Tobe   Riddich  triddich4@example.com

                          image_url
0  http://example.com/img/id001.png
1  http://example.com/img/id002.jpg
2  http://example.com/img/id003.bmp
3  http://example.com/img/id004.jpg
4  http://example.com/img/id005.png

In [67]:
# left join
df_left_merge = pd.merge(df1, df2, how='left')
print(df_left_merge)

  user_id first_name last_name                  email  \
0   id001       Rivi     Valti    rvalti0@example.com
1   id002     Wynnie   McMurty  wmcmurty1@example.com
2   id003    Kristos   Ivanets  kivanets2@example.com
3   id004    Madalyn       Max      mmax3@example.com
4   id005       Tobe   Riddich  triddich4@example.com
5   id006      Regan    Huyghe    rhuyghe@example.com
6   id007    Kristin     Illis    killis4@example.com

                          image_url
0  http://example.com/img/id001.png
1  http://example.com/img/id002.jpg
2  http://example.com/img/id003.bmp
3  http://example.com/img/id004.jpg
4  http://example.com/img/id005.png
5                               NaN
6                               NaN

In [68]:
# right join
df_right_merge = pd.merge(df1, df2, how='right')
print(df_right_merge)

  user_id first_name last_name                  email  \
0   id001       Rivi     Valti    rvalti0@example.com
1   id002     Wynnie   McMurty  wmcmurty1@example.com
2   id003    Kristos   Ivanets  kivanets2@example.com
3   id004    Madalyn       Max      mmax3@example.com
4   id005       Tobe   Riddich  triddich4@example.com
5   id008        NaN       NaN                    NaN

                          image_url
0  http://example.com/img/id001.png
1  http://example.com/img/id002.jpg
2  http://example.com/img/id003.bmp
3  http://example.com/img/id004.jpg
4  http://example.com/img/id005.png
5  http://example.com/img/id008.jpg

In [69]:
# outer join
df_left = pd.merge(df1, df2, how='left', indicator=True)
df_outer = pd.merge(df1, df2, how='outer', indicator=True)

print(df_left)
print('\n')
print(df_outer)

  user_id first_name last_name                  email  \
0   id001       Rivi     Valti    rvalti0@example.com
1   id002     Wynnie   McMurty  wmcmurty1@example.com
2   id003    Kristos   Ivanets  kivanets2@example.com
3   id004    Madalyn       Max      mmax3@example.com
4   id005       Tobe   Riddich  triddich4@example.com
5   id006      Regan    Huyghe    rhuyghe@example.com
6   id007    Kristin     Illis    killis4@example.com

                          image_url     _merge
0  http://example.com/img/id001.png       both
1  http://example.com/img/id002.jpg       both
2  http://example.com/img/id003.bmp       both
3  http://example.com/img/id004.jpg       both
4  http://example.com/img/id005.png       both
5                               NaN  left_only
6                               NaN  left_only


  user_id first_name last_name                  email  \
0   id001       Rivi     Valti    rvalti0@example.com
1   id002     Wynnie   McMurty  wmcmurty1@example.com
2   id003    Kristos   Ivanets  kivanets2@example.com
3   id004    Madalyn       Max      mmax3@example.com
4   id005       Tobe   Riddich  triddich4@example.com
5   id006      Regan    Huyghe    rhuyghe@example.com
6   id007    Kristin     Illis    killis4@example.com
7   id008        NaN       NaN                    NaN

                          image_url      _merge
0  http://example.com/img/id001.png        both
1  http://example.com/img/id002.jpg        both
2  http://example.com/img/id003.bmp        both
3  http://example.com/img/id004.jpg        both
4  http://example.com/img/id005.png        both
5                               NaN   left_only
6                               NaN   left_only
7  http://example.com/img/id008.jpg  right_only

In [70]:
# join method
df_join = df1.join(df2, rsuffix='_right')
print(df_join)

  user_id first_name last_name                  email user_id_right  \
0   id001       Rivi     Valti    rvalti0@example.com         id001
1   id002     Wynnie   McMurty  wmcmurty1@example.com         id002
2   id003    Kristos   Ivanets  kivanets2@example.com         id003
3   id004    Madalyn       Max      mmax3@example.com         id004
4   id005       Tobe   Riddich  triddich4@example.com         id005
5   id006      Regan    Huyghe    rhuyghe@example.com         id008
6   id007    Kristin     Illis    killis4@example.com           NaN

                          image_url
0  http://example.com/img/id001.png
1  http://example.com/img/id002.jpg
2  http://example.com/img/id003.bmp
3  http://example.com/img/id004.jpg
4  http://example.com/img/id005.png
5  http://example.com/img/id008.jpg
6                               NaN

In [71]:
df_join_no_duplicates = df1.set_index('user_id').join(df2.set_index('user_id'))
print(df_join_no_duplicates)

        first_name last_name                  email  \
user_id
id001         Rivi     Valti    rvalti0@example.com
id002       Wynnie   McMurty  wmcmurty1@example.com
id003      Kristos   Ivanets  kivanets2@example.com
id004      Madalyn       Max      mmax3@example.com
id005         Tobe   Riddich  triddich4@example.com
id006        Regan    Huyghe    rhuyghe@example.com
id007      Kristin     Illis    killis4@example.com

                                image_url
user_id
id001    http://example.com/img/id001.png
id002    http://example.com/img/id002.jpg
id003    http://example.com/img/id003.bmp
id004    http://example.com/img/id004.jpg
id005    http://example.com/img/id005.png
id006                                 NaN
id007                                 NaN

In [72]:
inner_join_df = df1.set_index('user_id').join(df2.set_index('user_id'), on='user_id', how='inner')
print(inner_join_df)

        first_name last_name                  email  \
user_id
id001         Rivi     Valti    rvalti0@example.com
id002       Wynnie   McMurty  wmcmurty1@example.com
id003      Kristos   Ivanets  kivanets2@example.com
id004      Madalyn       Max      mmax3@example.com
id005         Tobe   Riddich  triddich4@example.com

                                image_url
user_id
id001    http://example.com/img/id001.png
id002    http://example.com/img/id002.jpg
id003    http://example.com/img/id003.bmp
id004    http://example.com/img/id004.jpg
id005    http://example.com/img/id005.png

In [73]:
outer_join_df = df1.set_index('user_id').join(df2.set_index('user_id'), on='user_id', how='outer')
print(outer_join_df)

      user_id first_name last_name                  email  \
id001   id001       Rivi     Valti    rvalti0@example.com
id002   id002     Wynnie   McMurty  wmcmurty1@example.com
id003   id003    Kristos   Ivanets  kivanets2@example.com
id004   id004    Madalyn       Max      mmax3@example.com
id005   id005       Tobe   Riddich  triddich4@example.com
id006   id006      Regan    Huyghe    rhuyghe@example.com
id007   id007    Kristin     Illis    killis4@example.com
NaN     id008        NaN       NaN                    NaN

                              image_url
id001  http://example.com/img/id001.png
id002  http://example.com/img/id002.jpg
id003  http://example.com/img/id003.bmp
id004  http://example.com/img/id004.jpg
id005  http://example.com/img/id005.png
id006                               NaN
id007                               NaN
NaN    http://example.com/img/id008.jpg

In [74]:
df_join_1 = df1.set_index('user_id').join(df2.set_index('user_id'), on='user_id', how='left')
print(df_join_1)

        first_name last_name                  email  \
user_id
id001         Rivi     Valti    rvalti0@example.com
id002       Wynnie   McMurty  wmcmurty1@example.com
id003      Kristos   Ivanets  kivanets2@example.com
id004      Madalyn       Max      mmax3@example.com
id005         Tobe   Riddich  triddich4@example.com
id006        Regan    Huyghe    rhuyghe@example.com
id007      Kristin     Illis    killis4@example.com

                                image_url
user_id
id001    http://example.com/img/id001.png
id002    http://example.com/img/id002.jpg
id003    http://example.com/img/id003.bmp
id004    http://example.com/img/id004.jpg
id005    http://example.com/img/id005.png
id006                                 NaN
id007                                 NaN

In [76]:
df_join_2 = df1.set_index('user_id').join(df2.set_index('user_id'), on='user_id', how='right')
print(df_join_2)

      user_id first_name last_name                  email  \
id001   id001       Rivi     Valti    rvalti0@example.com
id002   id002     Wynnie   McMurty  wmcmurty1@example.com
id003   id003    Kristos   Ivanets  kivanets2@example.com
id004   id004    Madalyn       Max      mmax3@example.com
id005   id005       Tobe   Riddich  triddich4@example.com
NaN     id008        NaN       NaN                    NaN

                              image_url
id001  http://example.com/img/id001.png
id002  http://example.com/img/id002.jpg
id003  http://example.com/img/id003.bmp
id004  http://example.com/img/id004.jpg
id005  http://example.com/img/id005.png
NaN    http://example.com/img/id008.jpg