# Experiment 6
## Database connectivity in Python

### a) Write python code to perform CRUD (create, read, update and delete) operations on a database

In [16]:
import mysql.connector as db

def db_connect(server, user, passwd, dbname):
    """Connect to the DB and return the engine and connection objects"""
    try:
        conn = db.connect(host=server, user=user, password=passwd, database=dbname)
        cursor = conn.cursor()
    except db.Error as err:
        print("Couldn't connect to the database:", err)
        return None
    return conn, cursor

def display_table_records(conn, tablename):
    try:
        cursor = conn.cursor()
    except db.Error as err:
        print(err)

    query = "select * from " + tablename
    cursor.execute(query)
    
    for rec in cursor.fetchall():
        print(rec)

In [13]:

# connect to the DB
conn, cursor = db_connect(server = "localhost", user = "root", passwd = "", dbname = "Employees")
print(type(conn))
print(type(cursor))

# employees table
query = "desc employees"
cursor.execute(query)
for col in cursor:
    print(col)

query = 'delete from employees'
cursor.execute(query)

query = "select * from employees"
cursor.execute(query)

print(cursor.fetchall())

cursor.close()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
('emp_no', 'int(11)', 'NO', 'PRI', None, '')
('birth_date', 'date', 'YES', '', None, '')
('first_name', 'varchar(25)', 'NO', '', None, '')
('last_name', 'varchar(25)', 'NO', '', None, '')
('gender', "enum('F','M')", 'NO', '', None, '')
('hire_date', 'date', 'NO', '', None, '')
[]

True

In [14]:
# insert
display_table_records(conn, 'employees')

query = "insert into employees (emp_no, birth_date, first_name, last_name, gender, hire_date) values (%s, %s, %s, %s, %s, %s)"
rec1 = (1001, '19851012', 'John', 'Doe', 'M', '20150901')

cursor = conn.cursor()

try:
    cursor.execute(query, rec1)
except BaseException as e:
    print("Error: ", e)

display_table_records(conn, 'employees')

query2 = "insert into employees (emp_no, birth_date, first_name, last_name, gender, hire_date) values (%(emp_no)s, %(birth_date)s, %(first_name)s, %(last_name)s, %(gender)s, %(hire_date)s)"
rec2 = {'emp_no':1002,
        'birth_date':'20011123',
        'first_name':'Jane',
        'last_name':'Doe',
        'gender':'F',
        'hire_date':'20200301'
       }

try:
    cursor.execute(query2, rec2)
except BaseException as e:
    print("Error: ", e)

cursor.close()


display_table_records(conn, 'employees')

(1001, datetime.date(1985, 10, 12), 'John', 'Doe', 'M', datetime.date(2015, 9, 1))
(1001, datetime.date(1985, 10, 12), 'John', 'Doe', 'M', datetime.date(2015, 9, 1))
(1002, datetime.date(2001, 11, 23), 'Jane', 'Doe', 'F', datetime.date(2020, 3, 1))

In [15]:
# insert multiple records
value_list = [
    {'emp_no':1003, 'birth_date':'19760114', 'first_name':'Bruce', 'last_name':'Wayne', 'gender':'M', 'hire_date':'20000304'},
    {'emp_no':1004, 'birth_date':'19541024', 'first_name':'Alfred', 'last_name':'Pennyworth', 'gender':'M', 'hire_date':'20000304'},
    {'emp_no':1005, 'birth_date':'19871101', 'first_name':'Barbara', 'last_name':'Gordon', 'gender':'F', 'hire_date':'20120711'}
]

cursor = conn.cursor()
cursor.executemany(query2, value_list)
conn.commit()

display_table_records(conn, 'employees')

(1001, datetime.date(1985, 10, 12), 'John', 'Doe', 'M', datetime.date(2015, 9, 1))
(1002, datetime.date(2001, 11, 23), 'Jane', 'Doe', 'F', datetime.date(2020, 3, 1))
(1003, datetime.date(1976, 1, 14), 'Bruce', 'Wayne', 'M', datetime.date(2000, 3, 4))
(1004, datetime.date(1954, 10, 24), 'Alfred', 'Pennyworth', 'M', datetime.date(2000, 3, 4))
(1005, datetime.date(1987, 11, 1), 'Barbara', 'Gordon', 'F', datetime.date(2012, 7, 11))